*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-self: center;
  inline-size: 1200px;
  block-size: 100%;
  max-height: 800px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 133px 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  background-color: #000;
  width: 711px;
  max-height: 386px;
  height: 100%;
}

.result__video {
  width: 100%;
  max-height: 386px;
  height: auto;
  border: none;
  object-fit: cover;
  object-position: center;
}

.search-form {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  max-width: 711px;
  width: 100%;
  height: 100%;
}

.search-form__fieldset {
  width: 225px;
  height: 54px;
  border: none;
}

.search-form__fieldset:first-child {
  margin-right: 40px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  height: 27px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(:focus-visible) .search-form__textfield {
  outline: 1px solid #fff;
  outline-offset: 1px;
  border-left: none;
  border-right: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-top: 2px;
}

.search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  background-color: transparent;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox-list:nth-child(2) {
  gap: 18px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  background-position: center;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.button {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  border: 1px solid currentColor;
  cursor: pointer;
  padding: 0;
}

.search-form__submit-button {
  justify-self: stretch;
  align-self: stretch;
  margin-top: 20px;
  margin-left: 27px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button:focus-visible {
  width: 99%;
  margin: 2px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  max-width: 429px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 22px;
  padding-top: 3px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 408px;
  max-height: 298px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
  background-color: transparent;
}

.content__list-item {
  max-width: 400px;
  width: 100%;
  height: 110px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 28px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: #fff;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  outline: none;
  border-radius: 0;
}

.content__video-card-description-container {
  overflow: hidden;
}

.content__video-card-title {
  max-width: 200px;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-thumbnail {
  max-width: 194px;
  width: 100%;
  max-height: 103px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
